.panel{
  margin-bottom: 50px;
}

.snippets__title{
  font-size: 1.4em;
  font-weight: bold;
  letter-spacing: 5px;
  text-decoration: underline;
  color: #e9c46a;
}

h2{
  margin: 30px;
  text-shadow: 5px 5px 10px rgba(0, 0, 0, .4);
}

h3{
  text-align: right;
  padding: 10px;
  color: #e9c46a;
}

footer{
  padding: 20px;
}
