@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    background: #100526;
}

header a{
    color: #fff;
}

h2{
    color: salmon;
    padding: 20px;
    text-align: center;
}

.snippets__hero{
    text-align: center;
    color: #fff;
}

.snippets__hero h1{
    color: #fff;
}

.snippet__hug{
    background: #F0DB4F;
    color: #323330;
    padding: 20px;
    margin: 50px;
}

.snippet__hug h3{
    text-align: center;
    color: #323330;
}

.panel{
    background: #fff;
}

.n-1{
    font-size: 2em;
    font-family: 'Poppins', sans-serif;
}

.n-2{
    font-size: 2em;
    font-family: 'Poppins', sans-serif;
}

.n-3{
    font-size: 2em;
    font-family: 'Poppins', sans-serif;
}

footer{
    color: #fff;
    padding: 20px;
    text-align: center;
}
