body{
    background: var(--color-terciario);
}

header a, header i{
    color: #fff;
}

h2{
    color: var(--color-secundario);
    padding: 20px;
    text-align: center;
}

p{
    line-height: 25px;
}

.snippets__hero{
    text-align: center;
    color: var(--color-secundario);
    padding: 20px;
}    

.snippets__hero h1{
    color: var(--color-secundario);
    padding: 10px;
    transition: .3s;
}

.snippets__hero p{
    color: #fff;
}