/* CSS styles by HA */

/* ---------------- Fuentes ------------------- */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* ---------------- Fuentes ------------------- */

/* ---------------- variables ------------------- */

:root{
    --color-principal: #3d348b;
    --color-secundario: #332c74;
    --sombra-de-caja: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

/* ---------------- variables ------------------- */


/* ---------------- estilos principales ------------------- */

*{
    box-sizing: border-box;
    scroll-behavior: smooth;
    padding: 0;
    margin: 0;
}

body{
    font-family: sans-serif;
    font-size: 1.3em;
    background: var(--color-fondo);
    color: var(--color-texto);
}

a{
    color: var(--color-principal);
    text-decoration: none;
}

i{
    color: var(--color-principal);
}

h1{
    font-size: 2.3em;
}

h1, h2, h3, h4, h5, h6{
    color: var(--color-principal);
    font-family: 'Poppins', sans-serif;
}

.redes__sociales{
    padding: 20px 0px;
}

.redes__sociales a{
    margin-right: 10px;
    transition: .3s;
}

.redes__sociales a:hover{
    opacity: .5;
}

.hero__container{
    display: flex;
    padding: 60px;
    flex-direction: row-reverse;
}

.hero__container h1{
    padding: 20px 0px;
}

.one{
    width: 50%;
    
}

.one img{
    border-radius: 100%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 450px;
    box-shadow: var(--sombra-de-caja);
}

.two{
    width: 50%;
    padding: 10px;
}

.html__hug{
    background: var(--color-secundario);
    border: 5px solid #E34C26;
    padding: 20px;
    margin: 50px auto;
    width: 80%;
}

.html__hug h3{
    color: #000;
    text-align: center;
}

.css__hug{
    background: var(--color-secundario);
    border: 5px solid #264de4;
    padding: 20px;
    margin: 50px auto;
    color: #000;
    width: 80%;
}

.css__hug h3{
    color: #000;
    text-align: center;
}

.javascript__hug{
    background: var(--color-secundario);
    border: 5px solid #F0DB4F;
    padding: 20px;
    margin: 50px auto;
    color: #000;
    width: 80%;
}

.javascript__hug h3{
    color: #000;
    text-align: center;
}

.git__hug{
    background: var(--color-secundario);
    border: 5px solid #F1502F;
    padding: 20px;
    margin: 50px auto;
    color: #000;
    width: 80%;
}


.git__hug h3{
   
    text-align: center;
}

.panel__de__codigos h3{
    padding: 20px;
}

.panel__de__codigos p{
    padding: 20px 0px;
}

.panel__de__codigos ul{
    margin: 20px;
}

.panel__de__codigos ul li{
    margin: 10px;
}

.panel__de__codigos h4{
    color: #000;
    padding: 10px 0px;
}

.panel__de__codigos img{
    width: 100%;
    margin: auto;
}

/* ---------------- estilos principales ------------------- */

/* ---------------- nueva navegacion sencilla ------------------- */

.navegacion{
    margin-top: 20px;
}

.navegacion a{
    display: block;
    margin-top: 10px;
    transition: .3s;
}

.navegacion a:hover{
    opacity: .5;
}

header{
    padding: 20px;
    background: #332c74;
}

header ul li{
    list-style-type: square;
    display: inline-block;
}

header a{
    transition: .3s;
    margin-right: 10px;
    color: #fff !important;
}

header a:hover{
    opacity: .3;
}

/* ---------------- nueva navegacion sencilla ------------------- */

/* ---------------- Practica ------------------- */

.fila{
    display: flex;
}

.columna{
    width: 33.33%;
    padding: 20px;
}

.tarjeta__proyectos{
    background: var(--color-secundario);
    border-radius: 25px;
    padding: 10px;
    text-align: center;
    transition: .3s;
}

.tarjeta__proyectos:hover{
    opacity: .5;
}

.tarjeta__proyectos img{
    width: 100px;
}

.tarjeta__proyectos a{
    display: block;
    margin: 10px;
    padding: 10px;
    background: rgb(132, 20, 117);
    color: #fff;
    text-align: center;
    transition: .3s;
}

.tarjeta__proyectos a:hover{
    opacity: .5;
}

.tarjeta__proyectos h3{
    padding: 0px;
    margin: 0px;
    text-align: center;
    color: #fff;
    text-shadow: 3px 3px 0px var(--color-principal);
}

.top__header{
    padding: 10px;
}

.estrellas{
    padding: 20px;
}

.estrellas i{
    color: #fff;
    text-shadow: 3px 3px 0px var(--color-principal);
}

.code__container div{
    margin-bottom: 20px;
}

.html__container pre{
    border: 5px solid #E34C26;
    border-radius: 25px;
    box-shadow: var(--sombra-de-caja);
    
}

.css__container pre{
    border: 5px solid #264de4;
    border-radius: 25px;
    box-shadow: var(--sombra-de-caja);
}

.js__container pre{
    border: 5px solid #F0DB4F;
    border-radius: 25px;
    box-shadow: var(--sombra-de-caja);
}

.html__tag{
    background-color: #E34C26;
    color: #fff;
    display: inline;
    padding: 10px;
}

.css__tag{
    background-color: #264de4;
    color: #fff;
    display: inline;
    padding: 10px;

}

.javascript__tag{
    background-color: #F0DB4F;
    color: #000;
    display: inline;
    padding: 10px;
}

hr{
    margin: 50px 0px;
    border: 3px solid #322931;
}

.download{
    padding: 20px 0px;
}

.download a{
    margin-right: 10px;
}

.descarga{
    background: var(--color-secundario);
    color: #000;
    padding: 10px;
    border-radius: 50%;
    transition: .3s;
}

.descarga:hover{
    opacity: .5;
}

.youtube{
    background: #c4302b;
    padding: 10px;
    border-radius: 50%;
    transition: .3s;
}

.youtube:hover{
    opacity: .5;
}

.youtube i{
    color: #fff;
}

/* ---------------- Practica ------------------- */

/* ---------------- Aprende ------------------- */

.internet{
    background: #0bb6ff;
    color: #000;
    padding: 10px;
    font-family: 'Poppins';
}

.html{
    background: #E34C26;
    color: #000;
    padding: 10px;
    font-family: 'Poppins';
}

.html i{
    color: #fff;
}

.css{
    background: #264de4;
    color: #fff;
    padding: 10px;
    font-family: 'Poppins';
}

.css i{
    color: #fff;
}

.sass{
    background: #fff;
    color: #000;
    padding: 10px;
    font-family: 'Poppins';
}

.sass i{
    color: #cd6799;
}

.bootstrap{
    background: #602C50;
    color: #fff;
    padding: 10px;
    font-family: 'Poppins';
}

.bootstrap i{
    color: #fff;
}

.javascript{
    background: #F0DB4F;
    color: #323330;
    padding: 10px;
    font-family: 'Poppins';
}

.javascript i{
    color: #323330;
}

.jquery{
    background: #0868AC;
    color: #fff;
    padding: 10px;
    font-family: 'Poppins';
}

.jquery i{
    color: #fff;
}

.react{
    background: #61DBFB;
    color: #000;
    padding: 10px;
    font-family: 'Poppins';
}

.react i{
    color: #000;
}

.angular{
    background: #a6120d;
    color: #fff;
    padding: 10px;
    font-family: 'Poppins';
}

.angular i{
    color: #fff;
}

.vue{
    background: #41B883;
    color: #000;
    padding: 10px;
    font-family: 'Poppins';
}

.vue i{
    color: #000;
}

.php{
    background: #B0B3D6;
    color: #000;
    padding: 10px;
    font-family: 'Poppins';

}

.mysql{
    background: #165CAA;
    color: #fff;
    padding: 10px;
    font-family: 'Poppins';
}

.mysql i{
    color: #fff;
}

.nodejs{
    background: #68A063;
    color: #303030;
    padding: 10px;
    font-family: 'Poppins';
}

.express{
    background: #303030;
    color: #68A063;
    padding: 10px;
    font-family: 'Poppins';
}

.mongodb{
    background: #4DB33D;
    color: #C1BEBC;
    padding: 10px;
    font-family: 'Poppins';
}

.python{
    background: #FFE873;
    color: #000;
    padding: 10px;
    font-family: 'Poppins';

}

.numpy{
    background: #4DABCF;
    color: #000;
    padding: 10px;
    font-family: 'Poppins';

}

.r{

    background: #165CAA;
    color: #fff;
    padding: 10px;
    font-family: 'Poppins';
}

.java{
    background: #f89820;
    color: #000;
    padding: 10px;
    font-family: 'Poppins';
}

.java i{
    color: #000;
}

.cpp{
    background: #283593;
    color: #fff;
    padding: 10px;
    font-family: 'Poppins';
}

.cpp i{
    color: #fff;
}

.bash{
    background: #07091c;
    color: #fff;
    padding: 10px;
    font-family: 'Poppins';
}

.bash i{
    color: #fff;
}

.c{
    background: #283593;
    color: #fff;
    padding: 10px;
    font-family: 'Poppins';
}

.c i{
    color: #fff;
}

/* ---------------- Aprende ------------------- */

/* ---------------- Snippets ------------------- */

.card{
    border-radius: 25px;
    padding: 50px;
    box-shadow: var(--sombra-de-caja);   
    transition: .3s;
}

.card:hover{
    opacity: .5;
}


.card span{
    font-size: 2em;
    font-family: 'Poppins', sans-serif;
}

.html__card{
    background-image: linear-gradient(-20deg, #E34C26 0%, #ff9a44 100%);
    color: #c84626;
}

.html__card h3{
    color: #c84626;
}

.css__card{
    background-image: linear-gradient(-20deg, #264de4 0%, #1D8FE1 100%);
    color: #193ac1;
}

.css__card h3{
    color: #193ac1;
}

.js__card{
    background-image: linear-gradient(-20deg, #F0DB4F 0%, #cdab24 100%);
    color: #8f8020;
}

.js__card h3{
    color: #8f8020;
}

.git__card{
    background-image: linear-gradient(-20deg, #F1502F 0%, #be0c06 100%);
    color: #96100b;
}

.git__card h3{
    color: #96100b;
}

/* ---------------- Snippets ------------------- */

/* ---------------- Contacto ------------------- */

.informacion__contacto{
    padding: 10px 0px;
}

.informacion__contacto p{
    padding: 10px 0px;
}

/* ---------------- Contacto ------------------- */