@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100;0,9..40,200;0,9..40,300;0,9..40,400;0,9..40,500;0,9..40,600;0,9..40,700;0,9..40,800;0,9..40,900;0,9..40,1000;1,9..40,100;1,9..40,200;1,9..40,300;1,9..40,400;1,9..40,500;1,9..40,600;1,9..40,700;1,9..40,800;1,9..40,900;1,9..40,1000&display=swap");

@font-face {
  font-family: amsterdam-four;
  src: url(/fonts/Amsterdam\ Four_ttf\ 400.ttf);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "DM Sans", sans-serif;
}

.logo {
  font-family: amsterdam-four;
  font-size: 1.3em;
}

.darkBtn {
  cursor: pointer;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
}

.bottom_navbar {
  position: fixed;
  bottom: 0;
  background: rgb(0 0 0);
  width: 100%;
  text-align: center;
  padding: 20px;
  z-index: 1;
}

.bottom_navbar a {
  color: aquamarine;
  transition: 0.3s;
  font-size: 1.3em;
  text-decoration: none;
  text-align: center;
  padding: 10px;
  width: 50px;
}

.bottom_navbar a:hover {
  padding: 10px;
  border-radius: 50px;
  background: #383838;
}

.bottom_navbar a:active {
  color: aquamarine;
}

.bottom_navbar .active {
  color: aquamarine;
}

.navbar-icons {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.hero {
  background: url(/images/hero-background.jpg);
  background-color: #333;
  background-size: cover;
  color: white;
  text-align: center;
  padding: 50px;
}

.hero-content {
  max-width: 600px;
  margin: 0 auto;
}

.profile-image {
  width: 150px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.hero h1 {
  font-size: 2em;
  margin-bottom: 10px;
}

.hero h3 {
  font-size: 1.2em;
  margin-bottom: 30px;
  color: #DBDBDB;
}

.social {
  display: flex;
  justify-content: center;
}

.social a {
  display: inline-block;
  margin: 0 10px;
  font-size: 1.5em;
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

.social a:hover {
  color: #00ff00;
}

.books {
  padding: 50px;
}

.books h3 {
  font-size: 1.5em;
  color: #555;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.books h4 {
  margin-bottom: 10px;
}

.books p {
  text-align: justify;
}

.book-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.book {
  flex: 0 1 calc(30% - 20px);
  margin: 0 10px 20px;
  border-radius: 8px;
  overflow: hidden;
}

.book-image {
  width: 100%;
  height: auto;
}

.buy-now-btn {
  display: inline-block;
  padding: 10px;
  background-color: aquamarine;
  color: #000;
  text-decoration: none;
  border-radius: 8px;
}

.buy-now-btn:hover {
  background-color: rgb(91 236 188);
}

.view-more {
  text-align: center;
}

.view-more-btn {
  display: inline-block;
  margin-top: 20px;
  padding: 5px;
  text-decoration: none;
  border-radius: 100px;
}

.rating {
  color: #ffa41c;
  padding: 20px 0;
}

.resources {
  padding: 50px;
  background: url('../images/hero-background.jpg');
  background-size: cover;
  color: #fff;
}

.resources h3 {
  font-size: 1.5em;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.resources p {
  font-size: 1.2em;
  margin-bottom: 20px;
}

.resource-card {
  display: flex;
  margin-bottom: 20px;
}

.resource-card img {
  width: 200px;
  height: auto;
  border-radius: 8px;
  margin-right: 15px;
}

.resource-details {
  flex: 1;
}

.resource-details h4 {
  font-size: 1.2em;
  margin-bottom: 10px;
}

.resource-details p {
  font-size: 1em;
  margin-bottom: 10px;
}

.resource-details a {
  color: #007bff;
  text-decoration: none;
}

.resource-details a:hover {
  text-decoration: underline;
}

.videos {
  padding: 50px;
}

.videos h3 {
  font-size: 1.5em;
  color: #555;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.video-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.video-container a {
  flex: 0 0 30%;
  /* Ajusta según sea necesario */
  text-decoration: none;
}

.video-container img {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 10px;
}

.side-projects {
  position: relative;
  padding: 50px;
  background: url('../images/hero-background.jpg');
  background-size: cover;
  color: #fff;
}

.overlay {
  background: rgba(0, 0, 0, 0.6);
  /* Adjust the alpha value for the overlay */
  padding: 20px;
  border-radius: 10px;
}

.side-projects p {
  margin-bottom: 20px;
}

.side-projects h3 {
  font-size: 1.5em;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.projects {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.project {
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  margin: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.project-details {
  padding: 20px;
  text-align: center;
}

.project-image {
  width: 100%;
  height: auto;
  border-radius: 10px 10px 0 0;
}

.project-details p {
  margin-top: 10px;
}

.project-link {
  display: inline-block;
  padding: 10px 15px;
  background-color: #3498db;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.project-link:hover {
  background-color: #2980b9;
}


/* Common styles for both sections */
.support-me {
  padding: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.support-me .support-content,
.contact div {
  width: 50%;
}

.support-me img,
.contact img {
  width: 100%;
  max-width: 400px;
  /* Adjust the max-width as needed */
}

.support-me h3,
.contact h3 {
  font-size: 1.5em;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.support-me p,
.contact p {
  margin-bottom: 20px;
}

/* Specific styles for the support-me section */
.support-options {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.support-option {
  text-align: center;
}

.support-option img {
  width: 100px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.support-option p {
  font-size: 1.2em;
  margin-bottom: 10px;
}

.support-option a {
  color: #007bff;
  text-decoration: none;
}

.support-option a:hover {
  text-decoration: underline;
}


/* Specific styles for the contact section */
.contact-info {
  font-size: 1.2em;
}

.contact-info a {
  color: #007bff;
  text-decoration: none;
}

.contact-info a:hover {
  text-decoration: underline;
}


.btn-23,
.btn-23 *,
.btn-23 :after,
.btn-23 :before,
.btn-23:after,
.btn-23:before {
  border: 0 solid;
  box-sizing: border-box;
}

.btn-23 {
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: button;
  background-color: #000;
  background-image: none;
  color: #fff;
  cursor: pointer;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 100%;
  font-weight: 900;
  line-height: 1.5;
  margin: 0;
  -webkit-mask-image: -webkit-radial-gradient(#000, #fff);
  padding: 0;
  text-transform: uppercase;
}

.btn-23:disabled {
  cursor: default;
}

.btn-23:-moz-focusring {
  outline: auto;
}

.btn-23 svg {
  display: block;
  vertical-align: middle;
}

.btn-23 [hidden] {
  display: none;
}

.btn-23 {
  border-radius: 99rem;
  border-width: 2px;
  overflow: hidden;
  padding: 0.8rem 3rem;
  position: relative;
}

.btn-23 span {
  display: grid;
  inset: 0;
  place-items: center;
  position: absolute;
  transition: opacity 0.2s ease;
}

.btn-23 .marquee {
  --spacing: 5em;
  --start: 0em;
  --end: 5em;
  -webkit-animation: marquee 1s linear infinite;
  animation: marquee 1s linear infinite;
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
  opacity: 0;
  position: relative;
  text-shadow: #fff var(--spacing) 0, #fff calc(var(--spacing) * -1) 0,
    #fff calc(var(--spacing) * -2) 0;
}

.btn-23:hover .marquee {
  -webkit-animation-play-state: running;
  animation-play-state: running;
  opacity: 1;
}

.btn-23:hover .text {
  opacity: 0;
}

@-webkit-keyframes marquee {
  0% {
    transform: translateX(var(--start));
  }

  to {
    transform: translateX(var(--end));
  }
}

@keyframes marquee {
  0% {
    transform: translateX(var(--start));
  }

  to {
    transform: translateX(var(--end));
  }
}


@media only screen and (max-width: 768px) {

  .books h3 {
    text-align: center;

  }

  .book-group {
    flex-direction: column;
  }

  .resources h3 {
    text-align: center;
  }

  .resources p {
    text-align: center;
  }

  .resource-card {
    flex-direction: column;
  }

  .resource-card img {
    margin: auto;
  }

  .resource-details {
    margin-top: 20px;
    text-align: center;
  }

  .videos {
    padding: 20px;
  }

  .videos h3 {
    text-align: center;
  }

  .videos p {
    text-align: center;
  }

  .side-projects {
    padding: 20px;
    text-align: center;
  }

  .support-me {
    padding: 20px;
    text-align: center;
  }

  .contact {
    padding: 20px;
  }

  .contact h3 {
    text-align: center;
  }

  .contact p {
    text-align: center;
  }
}