@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}

body{
    background: #fff;
}


h1{
    text-align: center;
    margin: 40px;
    letter-spacing: 5px;
    text-shadow: 1px 1px 2px #000;
    font-style: italic;
}

.encabezado{
    background: #000;
    color: #fff;
    display: flex;
    padding: 20px;
    align-items: flex-start;
}

.navegacion__principal{
    margin: auto;
}

.navegacion__principal ul{
    display: flex;
}

.navegacion__principal ul li{
    list-style-type: none;
    margin-right: 20px;
}

.navegacion__principal ul li a{
    color: #fff;
    transition: .3s;
}

.navegacion__principal ul li a:hover{
    color: rgb(0, 204, 255);
}

a{
    text-decoration: none;
}

#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 70px; /* Place the button at the bottom of the page */
    right: 10px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: rgb(0, 0, 0); /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 10px; /* Some padding */
    border-radius: 5px; /* Rounded corners */
    font-size: 10px; /* Increase font size */
    transition: .3s;
    opacity: .5;
}
  
#myBtn:hover {
    opacity: 1;
    background-color: #000; /* Add a dark-grey background on hover */
}

.sobre__mi > h2{
    text-align: center;
    margin: 40px;
}  

.sobre__mi p{
    margin: 20px;
    text-align: center;
    line-height: 30px;
}

.circulo__contenedor{
    margin: auto;
    background: url(../images/unverse1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 40px;
}

.circulo__contenedor h2{
    color: #fff;
}

.circulo__avatar{
    margin: auto;
    width: 180px;
    height: 180px;
    background: #fff;
    border-radius: 100px;
}

.circulo__avatar > img{
    width: 180px;
    height: 180px;
    padding: 10px;
    margin: auto;
    border-radius: 100px;
}

.backbar{
    padding: 20px;
    background: #000;
}

.fa-arrow-left{
    color: #fff;
    transition: .3s;
}

.fa-arrow-left:hover{
    color: pink;
}

.introduccion__aprende{
    margin: 50px;
    text-align: center;
}

.introduccion__aprende h2{
    margin: 20px;
}

.ver__mas{
    background: rgb(0, 0, 0);
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    display: block;
    width: 150px;
    text-align: center;
    margin: 20px auto;
    transition: .3s;
}

.panel__de__cursos{
    margin: 40px;
}

.ver__mas:hover{
    background: rgb(43, 43, 43);
    color: #fff;
}

.fa-html5{
    color: #e34c26;
}

.fa-css3-alt{
    color: #264de4;
}

.fa-js{
    color: #F0DB4F;
}

.aprende__conmigo{
    margin: 20px;
}

.aprende__conmigo h2{
    margin: 40px;
    text-align: center;
}

.aprende__conmigo p{
    text-align: center;
    margin: 20px;
}

.curso{
    border: 3px solid #000;
}

.curso a{
    background: #000;
    color: #fff;
    border-radius: 5px;
    padding: 10px;
    display: block;
    margin: 40px auto;
    width: 30%;
    text-align: center;
    transition: .3s;
}

.curso a:hover{
    transform: scale(2);
}

.curso img{
    margin: 20px;
}

.html__logo{
    width: 100px;
    height: 100px;
}

.css__logo{
    width: 100px;
    height: 110px;
}

.javascript__logo{
    width: 100px;
    height: 100px;
}

.php__logo{
    width: 150px;
    height: 100px;
}

.mysql__logo{
    width: 150px;
    height: 100px;
}

.laravel__logo{
    width: 120px;
    height: 90px;
}

.row {
    display: flex;
}
  
/* Create three equal columns that sits next to each other */
.column {
    display: flex;
    width: 33.33%;
    padding: 5px;
    text-align: center;
}

.column > div{
    width: 100%;
    height: 300px;
    border-radius: 5px;
    padding: 10px;
}

.column h5{
    font-style: italic;
}

.column div > i{
    font-size: 100px;
    margin: 20px;
}

.proyectos{
    margin: 60px;
}

.proyectos h2{
    text-align: center;
    margin: 40px;
}

.proyectos p{
    margin: 40px;
    text-align: center;
}

.proyectos .column > div{
    background: rgb(0, 0, 0);
    background: url(../images/unverse1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
}

.redes__sociales{
    position: absolute;
    right: 10px;
}

.redes__sociales a{
    color: #fff;
    font-size: 1.5em;
    margin-right: 10px;
    transition: .3s;
}

.redes__sociales a:hover{
    color: #999;
}

.informacion__proyecto h4{
    margin-top: 70px;
}

.informacion__proyecto p{
    margin-top: 20px;
}


.informacion__proyecto a{
    background: #222;
    color: #fff;
    padding: 10px;
    display: block;
    border-radius: 5px;
    text-align: center;
    margin: 60px auto;
    transition: .3s;
    width: 330px;
}

.informacion__proyecto a:hover{
    background: #000;
}

.estrellas__de__dificultad{
    width: 100px;
    margin: 20px;
    
    
}

.estrellas__de__dificultad > img{
    width: 15px;
    height: 15px;
}

hr{
    width: 50%;
    margin: 50px auto;
    border-color: #000;
    border-style: dashed;
}

.formulario__de__contacto h2{
    text-align: center;
    margin: 40px;
}

.formulario__de__contacto p{
    text-align: center;
    margin: 40px;
}

form{
    margin: 40px auto;
    width: 400px;
    background: rgb(0, 0, 0);
    border-radius: 5px;
    padding: 20px;
}

form > input, form textarea{
    outline: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid green;
    padding: 10px;
    width: 100%;
    margin-bottom: 20px;
    border-radius: 5px;
}

textarea{
    resize: none;
}

button{
    padding: 10px;
    border-radius: 5px;
    background: #fff;
    font-weight: bold;
    outline: none;
    border: none;
    cursor: pointer;
    transition: .3s;
}

.demostracion{
    margin: 20px auto;
    width: 600px;
    padding: 10px;
}

.demostracion p{
    margin-top: 20px;
}

.codigo__del__proyecto{
    margin: 20px;
}



.codigo__del__proyecto p{
    margin-bottom: 20px;
}

.codigo__html{
    background: #e34c26;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    margin: 20px auto;
    width: 600px;
}


.codigo__css{
    background: #264de4;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    margin: 20px auto;
    width: 600px;
}


.codigo__javascript{
    background: #f0db4f;
    color: #323330;
    padding: 10px;
    border-radius: 5px;
    margin: 20px auto;
    width: 600px;
}


footer{
    background: #000;
    color: #fff;
    padding: 20px;
    text-align: center;
}

footer a{
    color: #fff;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media only screen and ( max-width: 768px ){ 
.row{
    flex-direction: column;
}

.column{
    width: 100%;
}

.codigo__html{
    width: 100%;
}

.codigo__css{
    width: 100%;
}

.codigo__javascript{
    width: 100%;
}

.demostracion{
    width: auto;
}

}