body{
    background-image: linear-gradient(-60deg, #ff5858 0%, #f09819 100%);
}

section{
    margin: 50px auto;
    padding: 50px;
    border-width: 5px;
    background: rgb(255, 255, 255);
    border-radius: 25px;
    box-shadow: var(--sombra-de-caja);
    width: 80%;
}

section h1{
    margin: 20px;
    border-width: 5px;
    text-align: center;
    font-size: 2em;
}

section h2{
    margin: 20px 0px;
    width: 5%;
}

section h3{
    margin: 20px 0px;
}

section h4{
    margin: 20px 0px;
}


section p{
    text-align: justify;
}

section ul{
    margin: 20px;
}

section ul li{
    margin: 10px;
}

b{
    color: var(--color-secundario);
}