body{
    background-image: linear-gradient(-60deg, #ff5858 0%, #f09819 100%);
}

section{
    margin: 50px auto;
    padding: 50px;
    border-width: 5px;
    background: rgb(255, 255, 255);
    border-radius: 25px;
    box-shadow: var(--sombra-de-caja);
    width: 80%;
}

section h1{
    margin: 20px;
    border-width: 5px;
    text-align: center;
    font-size: 2em;
}

section h2{
    margin: 20px 0px;
    width: 5%;
}

section h3{
    margin: 20px 0px;
}

section h4{
    margin: 20px 0px;
}


section p{
    text-align: justify;
}

section ul{
    margin: 20px;
}

section ul li{
    margin: 10px;
}

b{
    color: var(--color-secundario);
}

#course__sidebar{
    background: #fff;
    width: 300px;
    padding: 10px;
    position: fixed;
    top: 0;
    height: 100vh;
    overflow-y: scroll;
    z-index: 2;
    font-family: 'Poppins', sans-serif;
    transition: .3s;
    transform: translate(-300px);
}

#course__sidebar a{
    padding: 10px;
    display: block;
    transition: .3s;
}

.closebtn {
    position: absolute;
    top: -10px;
    right: 0;
    font-size: 2em;
}

.openbtn{
    top: 10px;
    left: 10px;
    position: fixed;
    padding: 10px;
   
}  

.header {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    background-color: #f1f1f1;
}
  
.header h2 {
    text-align: center;
}
  
.progress-container {
    width: 100%;
    height: 8px;
    background: #ccc;
}
  
.progress-bar {
    height: 8px;
    background: #04AA6D;
    width: 0%;
}
  
.content {
    padding: 100px 0;
    margin: 50px auto 0 auto;
    width: 80%;
}