

.header {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    
}
  
.header h2 {
    text-align: center;
}
  
.progress-container {
    width: 100%;
    height: 5px;
    background: #264653;
}
  
.progress-bar {
    height: 5px;
    background: #2a9d8f;
    width: 0%;
    transition: .3s;
}
  
.content {
    padding: 100px 0;
    margin: 50px auto 0 auto;
    width: 80%;
}

.flexStuff{
    display: flex;
}


aside{
    overflow-y: scroll;
}

aside.sideBar{
    width: 20%;
    height: 400px;
    position: fixed;
    top: 80px;
}

aside ul li{
    list-style-type: none;
}

aside ul li a{
    display: block;
    transition: .3s;
    text-decoration: none;
    text-align: center;
    color: #323330;
    padding: 10px;
    
}

aside ul li a:hover{
    background: #264653;
    color: #fff;
    border-left: 1px solid #2a9d8f;
    border-width: 10px;
    padding: 10px;
    font-weight: bold;
}

.activeItem{
    color: #2a9d8f;
}

.articles{
    width: 80%;
    position: absolute;
    right: 0;
    top: 55px;
    padding: 20px;
}

section{
    padding: 10px;
    border-width: 5px;
}

section h1{
    margin: 20px;
    color: #e76f51;
    border-width: 5px;
    text-align: center;
    font-size: 2em;
}

section h2{
    margin: 20px 0px;
}

section h3{
    margin: 20px 0px;
    color: #f4a261;
}


section h4{
    margin: 20px 0px;
    color: #e9c46a;
}

section p{
    line-height: 25px;
    text-align: justify;
    margin: 20px 0px;
}

section a{
    margin-top: 10px;
    transition: .3s;
    cursor: pointer;
    color: #2a9d8f;
}

section ul{
    margin: 20px;
}

section ul li{
    margin: 10px;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #2a9d8f; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #264653;
    
    
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #e76f51; 
  }
