#temperatura{
    font-size: 2em;
    font-weight: bolder;
}

#contenedorClima{
    text-align: center;
    background: #58a1ff;  /* fallback for old browsers */
    border-radius: 5px;
    width: 300px;
    height: 400px;
    margin: auto;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fa-map-marker-alt{
    color: #fff;
}

.flexyWeather{
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
}

.top__search{
    position: relative;
    top: -100px;
    right: -40px;
}

.top__search input{
    padding: 5px;
}

.top__search button{
    padding: 5px;
    cursor: pointer;
}

.app__background{
    margin: 20px auto;
    padding: 20px;
    background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);
}

h1{
    color: #2a9d8f;
    font-size: 2em;
}