*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font: 10px 'Roboto', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  font-size: 1.6rem;
  background: #1c92d2; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    225deg,
    #d0d5d6,
    #1c92d2
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    225deg,
    #d0d5d6,
    #1c92d2
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #eee;
}

main {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

h1,
h2 {
  margin: 1rem 0;
}

h1 {
  font-size: 4rem;
}

p {
  margin: 1rem 0;
}

h2 {
  font-size: 2.5rem;
}

img {
  width: 50%;
  height: auto;
}

form,
.header,
.temperatures {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.header {
  flex-direction: column;
}

.display {
  text-align: center;
}

form {
  margin: auto;
}

label {
  font-weight: bold;
}

input,
button {
  border-radius: 4px;
  border: 0;
  padding: 0.25rem 0.5rem;
}

input {
  width: 12rem;
  margin: 0 0.5rem 0 1rem;
}

button {
  background-color: white;
}

form > * {
  font-family: inherit;
}

#error {
  text-align: center;
  color: #860000;
  font-weight: bold;
}

@media (min-width: 499.98px) {
  html {
    font-size: 16px;
  }
  input {
    width: 80%;
  }
}
