#mainh1{
  font-family: 'Nothing You Could Do', cursive;
  color: white;
  font-size: 3rem;
  text-shadow: 1px 1px 2px #ffffff;
  position: absolute;
  top: 80px;
  left: 12px;
}

.section-card {
  background-color: rgba(255,255,255,0.5);
  border-radius: 5px;
  border: 5px solid rgba(232, 232, 232,0.5);
  width: 15rem;
  display: none;
  margin: auto;
  padding: 10px !important;
}

.section-card button{
  background: #000;
  color: #fff;
  border: 1px solid rgba(232, 232, 232,0.5);
  cursor: pointer;
}

.section-card.visible{  
  background: rgba(255,255,255, 0.5);
  border-radius: 15px;
  width: 350px;
  display: block;
}

.section-card.visible h1{
  text-align: center;
  font-family: 'Nothing You Could Do', cursive;
}

input[type="checkbox"], input[type="radio"]{
  display: flex;
  position: relative;
  top: -19px;
  right: -120px;
}

.section-card p {
  margin: 1rem;
}

.alignBtns{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

.alignBtns button{
  margin: 10px;
  padding: 10px;
}

#tally {
  background-color: rgba(255,255,255,0.7);
  position: absolute;
  top: 80px;
  right: 12px;
  padding: 10px;
  width: 300px;
}

#tally h1 {
  top: 2rem;
  font-family: 'Nothing You Could Do', cursive;
  text-align: center;
}

#tally p {
  margin: .5rem;
}

#tally p span{
  float: right;
  font-weight: bold;
}

#finaltally{
  background-color: rgba(255,255,255,0.7);
  margin: auto;
  padding: 1.5rem;
  border-radius: 5px;
  border: 5px solid rgba(232, 232, 232,0.5);
  width: 30rem;
  font-size: 1rem;
}

#invisible {
  background-color: rgba(255,255,255,0.7);
  position: absolute;
  top:8rem;
  right: 30%;
  left: 30%;
  padding: 1.5rem;
  border-radius: 15px;
  border: 5px solid rgba(232, 232, 232,0.5);
  width: 30rem;
  font-size: 1rem;
  display: none;
}

#yourOrder {
  font-size: 2.5rem;
  text-align: center;
  border-bottom: 2px solid black;
  padding-bottom: 1rem;
}

#finaltally p {
  margin: 0.3rem;
}

.dollar {
  font-weight: bold;
  float: right;
}

#total {
  font-size: 1.3rem;
  font-weight: bold;
  border-top: 1px solid black;
  line-height: 2.5;
}

#mainh2 {
  font-family: 'Nothing You Could Do', cursive;
  color: white;
  text-align: center;
  font-size: 4rem;
  text-shadow: 1px 1px 5px #000000;
  z-index: 500;
  margin: 1rem;
} 

.s{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.app__background{
  color: #000;
  padding: 50px; 
  background-image: url(images/food-pizza-box-chalkboard.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Roboto', sans-serif; 
}

.app_container{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

body{
  background: var(--color-principal) !important;
}

header i{
  color: #fff;
}

.h1{
    color: #fff;
    font-size: 2em;
}

p{
  color: #fff;
}

.contenido__proyecto{
    padding: 50px;
}

footer{
    padding: 20px !important;
}

section p{
    line-height: 25px;
}
