h2{
    margin: 20px 40px;
    font-size: 2em;
    color: #6320ee;
    text-decoration: wavy;
    /* text-shadow: 2px 2px 3px #6320ee; */
}

h2::before{
    content: '*'
}

p{
    line-height: 30px;
    margin: 0px 40px;
}

.tarjeta__portafolio{
    transition: .3s;
    cursor: pointer;
    width: 640px; /* Can be in percentage also. */
    height: auto;
    margin: 0 auto;
    padding: 10px;
    position: relative;
}


.tarjeta__portafolio img{
    display: block;
    width: 100%;
}

.tarjeta__portafolio a:hover{
    background: #000;
    color: #fff;
}

.tarjeta__portafolio:hover{
    opacity: 0.9;
}

/* @media only screen and (max-width: 768px){

}

@media only screen and (max-width: 550px ){
   
    .row{
        flex-direction: column;
    }
} */