.s{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.app__background{
  font-size: 1.3em;
  font-family: 'Fraunces', serif;
  background: #AFBBF2;
  padding: 50px;
  color: #292E1E;
  font-family: "Nanum Gothic", sans-serif;
}

.app_container{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

body{
    background-color: var(--color-principal) !important;
}

header{
  background: var(--color-2) !important;
}

header a{
    color: #fff;
}

header i{
    color: #fff;
}

h1{
    font-size: 2em;
    color: #fff !important;
}

p{
    color: #fff;
}

.contenido__proyecto{
    padding: 50px;
}

footer{
    padding: 20px !important;
}

section p{
    line-height: auto !important;
}
