body{
    color: #fff;
}

h1{
    font-size: 2em;
    color: #fff !important;
}

p{
    color: #fff !important
}



.contenido__proyecto{
    padding: 50px 300px;
}

footer{
    padding: 20px !important;
}

section p{
    line-height: 25px;
}
