*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    font-size: 1.3em;
    font-family: 'Courier New', Courier, monospace;
}

h1{
    font-size: 2em;
}

p{
    line-height: 25px;
}

.font__color{
    color: #F9564F;
}

header{
    display: flex;
    justify-content: space-between;
    background: #0C0A3E;
    padding: 20px;
}

header nav ul{
    display: flex;
}

header nav ul li{
    list-style-type: none;
    margin-left: 20px;
}

header nav ul li a{
    color: #fff;
    text-decoration: none;
    transition: .4s;
}

header nav ul li a:hover{
    color: #F3C677;
}

.main__logo{
    color: #fff;
    text-decoration: none;
}

.main__logo img{
    width: 50px;
    height: 50px;
}

.hamburguesa{
    display: none;
    cursor: pointer;
}

.linea{
    background: #fff;
    width: 35px;
    height: 3px;
    margin: 5px 0;
    transition: 0.4s;
}

.change .linea1{
    transform: rotate(-45deg) translate(-6px, 6px);
}

.change .linea2{
    opacity: 0;
}

.change .linea3{
    transform: rotate(45deg) translate(-5px, -5px);
}

header nav.change{
    transition: .4s;
    transform: translate(0%, 56%)
}

.front__page{
    height: 90vh;
    padding: 20px;
    display: flex;    
    justify-content: space-evenly;
    flex-direction: row-reverse;
}

.front__page h1{
    color: #000;
    margin-bottom: 30px;
}

.front__info, .profile__img{
    margin-top: 20px;
}

.front__info{
    margin-right: 50px;
    width: 700px;
}

.front__info a{
    margin-right: 20px;
}

.social__media{
    position: absolute;
    bottom: 0px;
    right: 0px;
    padding: 20px;
}

.change .social__media > a{
    background: blue;
}

.social__media > a{
    color: #000;
    font-size: 1.3em;
}



.more{
    display: inline-block;
    text-align: center;
    cursor: pointer;
    margin: 30px 0px;
    padding: 10px;
    border: 2px dashed #333;
    border-radius: 5px;
    transition: .4s;
    text-decoration: none;
    color: #000;
}

.more:hover{
    background: rgb(0, 132, 255);
    color: #fff;
}

.profile__img > img{
    width: 280px;
    height: 280px;
    border-radius: 5px;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.2);
}

.about__me{
    height: 100vh;
    padding: 20px;
    background: #F3C677;
}

.about__me h2{
    text-align: center;
    padding: 20px;
}

.services{
    height: 100vh;
    padding: 20px;
    background: #F9564F;
    color: #fff;
}

.services h2{
    text-align: center;
    padding: 20px;
}

.my__work{
    height: 100vh;
    padding: 20px;
    background: #2A9D8F;
    color: #fff;
}

.my__work h2{
    text-align: center;
    padding: 20px;

}


.grid__container{
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    background: red;
    justify-content: space-around;
    height: 70vh;
}

.grid__container > *{
    background: blue;
}

.project > img{
    width: 250px;
    border-radius: 5px;
    
}

.contact__me{
    height: 100vh;
    padding: 20px;
    background: #7B1E7A;
    color: #fff;
}

.contact__me h2{
    text-align: center;
    padding: 20px;
}

.form__info{
    width: 50%;
    margin-right: 50px;
}

.formulario{
    background: #0C0A3E;
    background-image: url(/images/background.jpg);
    width: 500px;
    border-radius: 5px;
    padding: 10px;
}

.swipe{
    display: flex;
    justify-content: space-between;
    margin: 50px;
}


input, textarea{
    margin-top: 10px;
}

input, textarea, button{
    width: 100%;
    border-radius: 5px;
    outline: none;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
}

.enviar{
    cursor: pointer;
    outline: none;
    border: none;
    transition: .4s;
}

.enviar:hover{
    background: red;
    color: #fff;
    
}

.form__info div{
    margin-bottom: 30px;
}

.textarea{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 1.3em;
}





/*MOBILE VIEW*/

@media only screen and ( max-width: 768px ){

   

    body{
        font-size: 1em;
    }

    header nav{
        position: absolute;
        color: #fff;
        background: rgb(87, 87, 87);
        left: 0px;
        padding: 20px;
        margin: 0;
        width: 100%;
        height: 90vh;
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        align-self: center;
        transform: translate(0%, -56%);
    }

    
    header nav ul{
        flex-direction: column;
    }

    header nav ul li{
        margin-bottom: 50px;
        font-size: 2em;
    }

    .hamburguesa.change{
        animation: crazyRotation .5s;
    }

    .hamburguesa{
        display: block;
        top: 10px;
        position: relative;
    }

    .main__logo{
        transform: translateY(4px);
    }

    .main__logo img{
        width: 40px;
        height: 40px;
    }

    /* Imagen de Portada */

    .background__img{
        background: chocolate;
        height: 200px;
        width: 100%;
        z-index: -1;
        top: 69px;
        position: absolute;
        background-image: url(./images/background.jpg);
    }

    /* Imagen de Portada */

    .front__page{
        flex-direction: column;
    }

    .front__page h1{
        margin-bottom: 30px;
        text-align: center;
    }
    
    .profile__img{
        margin: 10px auto;
    }

    .profile__img > img{
        width: 180px;
        height: 180px;
        border-radius: 100%;
        background: #3772FF;
        padding: 5px;
        box-shadow: none;
    }

    .front__info{
        width: 100%;
        text-align: justify;
    }

    .more{
        margin-top: 30px;
    }

    .swipe{
        flex-direction: column-reverse;
        margin: 0;
    }

    .formulario{
        margin: 30px auto;
        width: 80%;
    }

    input, textarea, button{
        padding: 5px;
    }

    .form__info{
        flex-direction: column-reverse;
        width: 100%;
        text-align: center;
    }

    .info__text{
        display: none;
    }

}

@keyframes crazyRotation{
    100%{
        transform: rotate(-360deg);
    }
}