body {
  background: url('../images/white-blank-background-texture.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.e-books h1 {
  margin: 10px;
  color: var(--color-3);
  text-shadow: var(--text-shadow);
}

.e-card-background img {
  width: 100%;
  border-radius: 25px;
}


.top-banner {
  padding: 50px;
}

.book-gallery {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 20px;
  margin-bottom: 100px;
}

.book-gallery .item-book {
  width: 400px;
}

.book-gallery img {
  width: 100%;
  transition: .3s;
}

.book-gallery img:hover {
  transform: scale(1.1);
}