body {
  background: url('../images/white-blank-background-texture.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.top-banner {
  padding: 50px;
}


.book-category h2 {
  padding: 0px 50px;
}

.book-category img {
  width: 100%;
}

.item-book-group {
  display: flex;
}