body{
  background: var(--color-1);
}

.flex-proyecto{
  display: flex;
}

.contenedor-practica{
  background: var(--color-3);
  height: 90.5vh;
  overflow-y: scroll;
  width: 1065px;
}

.bottom-right-social{
  padding: 10px;
}

.bottom-right-social a{
  padding: 10px;
  background: var(--color-2);
  color: #fff;
}

aside{
  background: #f6f6f6;
  width: 300px;
  height: 100vh;
  box-shadow: var(--box-shadow);
}

aside p{
 color: #000;
 padding: 10px;
}

aside h3{
  color: var(--color-1);
  padding-top: 10px;
  padding-left: 10px;
}

aside h4{
  color: var(--color-2);
  padding-top: 10px;
  padding-left: 10px;
  text-decoration: underline;
}

.tarjeta__proyectos{
    background: var(--color-2);
    border-radius: 25px;
    padding: 10px;
    text-align: center;
    transition: .3s;
    box-shadow: var(--box-shadow);
}

.tarjeta__proyectos:hover{
    opacity: .5;
}

.tarjeta__proyectos img{
    width: 100px;
}

.tarjeta__proyectos a{
    display: block;
    margin: 10px;
    padding: 10px;
    background: rgb(132, 20, 117);
    color: #fff;
    text-align: center;
    transition: .3s;
}

.tarjeta__proyectos a:hover{
    opacity: .5;
}

.tarjeta__proyectos h3{
    color: var(--color-1);
    font-size: 1em;
}

.top__header{
    padding: 10px;
}

.estrellas{
    padding: 20px;
}

.estrellas i{
    color: var(--color-1) !important;
}


.html__tag{
    background-color: #E34C26;
    color: #fff;
    display: inline;
    padding: 10px;
}

.css__tag{
    background-color: #264de4;
    color: #fff;
    display: inline;
    padding: 10px;

}

.javascript__tag{
    background-color: #F0DB4F;
    color: #000;
    display: inline;
    padding: 10px;
}

hr{
    margin: 50px 0px;
    border: 3px solid #322931;
}

.back{
  background: var(--color-2);
  padding: 10px;
  border-radius: 25px;
}

footer{
  color: #fff;
  padding: 20px;
}

footer p{
  text-align: center;
}

@media only screen and (max-width: 768px){
    .fila{
        flex-direction: column;
    }

    .columna{
        width: 100%;
        padding: 20px;
    }
}
