header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--color-1);
}

.practica{
  width: 100%;
}

.contenedor-practica{
  overflow-y: scroll;
  height: 87.8vh;
  width: 100%;
  padding: 10px;
}

.flex-proyecto{
  display: flex;
}

.bottom-right-social{
  padding: 10px;
  margin: 10px 0px;
}

.bottom-right-social a{
  padding: 10px;
  background: var(--color-2);
  color: #fff;
}

.lista-projectos ul{
  background: #E8E8E8;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 300px;
  margin-top: 10px;
}

.lista-projectos ul li{
  list-style: none;
}

.lista-projectos ul li a{
  color: #000;
  display: block;
  transition: .3s;
  padding: 10px;
}

.lista-projectos ul li a:hover{
  transform: translate(10px);
  background: var(--color-2);
  color: #fff;
}

aside{
  background: #f6f6f6;
  width: 300px;
  height: 100vh;
  box-shadow: var(--box-shadow);
  transition: .3s;
}

aside p{
 color: #000;
 padding: 0px 10px;
}

aside h3{
  color: var(--color-1);
  padding: 10px;
}

aside h4{
  color: var(--color-2);
  padding-top: 10px;
  padding-left: 10px;
  text-decoration: underline;
}

.tarjeta__proyectos{
    background: var(--color-2);
    border-radius: 25px;
    padding: 10px;
    text-align: center;
    transition: .3s;
    box-shadow: var(--box-shadow);
}

.tarjeta__proyectos:hover{
    border-radius: 50px;
    transform: scale(.9);
}

.tarjeta__proyectos img{
    width: 100px;
}

.tarjeta__proyectos a{
    display: block;
    margin: 10px;
    padding: 10px;
    background: rgb(132, 20, 117);
    color: #fff;
    text-align: center;
    transition: .3s;
}


.tarjeta__proyectos h3{
    color: #fff;
    font-size: 1em;
}

.top__header{
    padding: 10px;
}

.estrellas{
    padding: 20px;
}

.estrellas i{
    color: #fff !important;
}


.html__tag{
    background-color: #E34C26;
    color: #fff;
    display: inline;
    padding: 10px;
}

.css__tag{
    background-color: #264de4;
    color: #fff;
    display: inline;
    padding: 10px;

}

.javascript__tag{
    background-color: #F0DB4F;
    color: #000;
    display: inline;
    padding: 10px;
}

hr{
    margin: 10px;
    border: 2px solid #322931;
}

.back{
  background: var(--color-2);
  padding: 10px;
  border-radius: 25px;
}

.search-container button {
  background: var(--color-2);
  float: right;
  padding: 10.6px;
  border: none;
  color: #fff;
}

.search-container input{
  border: none;
  padding: 10px;
  font-family: var(--texto-titulo);
}

footer{
  color: #fff;
  padding: 20px;
  background: var(--color-1) !important;
}

footer p{
  text-align: center;
}

@media only screen and (max-width: 768px){
    .fila{
        flex-direction: column;
    }

    .columna{
        width: 100%;
        padding: 20px;
    }

    aside{
      width: 100%;
      box-shadow: var(--box-shadow);
      position: absolute;
      transform: translate(-800px);
    }
}
