body {
  background: url('../images/1338166.png');
  color: #fff;
}

a {
  text-decoration: none;
}

.top-banner {
  padding: 50px;
}

.top-resources {
  padding: 0 50px;
}

.top-resources h2 {
  margin: 20px 0;
  text-align: center;
  color: fuchsia;
}

p {
  margin: 20px 0;
}

.general-programming {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
}

.general-programming a {
  color: #fff;
  transition: .3s;
  display: block;
  font-size: 1.3em;
}

.general-programming a:hover {
  transform: scale(1.1);
  text-shadow: 3px 3px 3px fuchsia;
}

.other {
  display: flex;
  gap: 10px;
  padding: 20px 0;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
}

.other a {
  transition: .3s;
  border-radius: 10px;
  font-size: 1.3em;
  font-weight: bold;
}

.other a:hover {
  color: #333;
  background: aquamarine;
}

.html a {
  padding: 10px;
  background: #000000;
  display: block;
  color: aquamarine;
}

.css a {
  padding: 10px;
  background: #000000;
  display: block;
  color: aquamarine;
}

.js a {
  padding: 10px;
  background: #000000;
  display: block;
  color: aquamarine;
}