body {
  background: #181818;
  color: #fff;
}

a {
  text-decoration: none;
}

.top-banner {
  padding: 50px;
}

.top-resources {
  padding: 0 50px;
  padding-bottom: 100px;
}

.top-resources img {
  width: 50px;
}

p {
  margin: 20px 0;
}

.general-programming {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  text-align: center;

  margin-bottom: 50px;
}

.general-programming a {
  color: #fff;
  transition: .3s;
  display: block;
}

.general-programming a:hover {
  transform: scale(1.1);
}


.button {
  all: unset;
  display: flex;
  align-items: center;
  position: relative;
  padding: 10px;
  border: aqua solid 0.15em;
  border-radius: 0.25em;
  color: aqua;
  font-size: 1.5em;
  font-weight: 600;
  cursor: pointer;
  overflow: hidden;
  transition: border 300ms, color 300ms;
  user-select: none;
}

.button a {
  z-index: 1;
}

.button:hover {
  color: #212121;
}

.button:active {
  border-color: teal;
}

.button::after,
.button::before {
  content: "";
  position: absolute;
  width: 9em;
  aspect-ratio: 1;
  background: aqua;
  opacity: 50%;
  border-radius: 50%;
  transition: transform 500ms, background 300ms;
}

.button::before {
  left: 0;
  transform: translateX(-8em);
}

.button::after {
  right: 0;
  transform: translateX(8em);
}

.button:hover:before {
  transform: translateX(-1em);
}

.button:hover:after {
  transform: translateX(1em);
}

.button:active:before,
.button:active:after {
  background: teal;
}