.aprende__hero{
    padding: 20px;
    text-align: center;
}

.aprende__hero h1{
    color: #fff;
    padding: 10px;
    transition: .3s;
    text-shadow: 3px 3px 0px var(--color-secundario);
}

.aprende__hero p{
    color: #fff;
}

ul li{
    list-style-type: none;
    display: inline-block;
}

ul li a{
    display: block;
    transition: .3s;
    
}

ul li a:hover{
    opacity: .5;
}

ul li a i{
    font-size: 3em;
}

.steps{
    background: var(--color-principal);
    padding: 20px;
    margin: auto 20px;
    display: flex;
    flex-wrap: wrap;
    border-radius: 25px;
}

.steps ul{
    background: var(--color-terciario);
    border-radius: 25px;
    padding: 0px;
    margin: 10px;
}

.steps ul li a{
    border-radius: 20%;
    margin: 10px;
}