.aprende-flex{
  display: flex;
}

.back i{
  background: var(--color-1);
  padding: 10px;
  font-size: 1em;
  border-radius: 25px;
}

.bottom-right-social{
  margin: 20px 10px;
}

.bottom-right-social a{
  color: #fff;
  background: var(--color-2);
  padding: 15px;
  margin-right: 5px;
}

aside{
  background: #f6f6f6;
  width: 300px;
  height: 100vh;
  box-shadow: var(--box-shadow);
}

aside p{
 color: #000;
 padding: 10px;
}

aside h3{
  color: var(--color-1);
  padding: 20px 10px;
}

aside h4{
  color: var(--color-2);
  padding-top: 10px;
  padding-left: 10px;
  text-decoration: underline;
}

.aprende{
  width: 100%;
  height: 100vh;
}

.aprende__hero{
    padding: 20px;
    text-align: center;
}

#intro__text{
    margin: 30px;
}

.aprende__hero h1{
    color: #fff;
    padding: 10px;
    margin: 10px;
    transition: .3s;
    text-shadow: var(--text-shadow);
}

.aprende__hero p{
    color: #fff;
}

.steps ul{
  background: var(--color-2);
}

ul li{
    list-style-type: none;
    display: inline-block;
}

ul li a{
    display: block;
    transition: .3s;

}

ul li a i{
    font-size: 2.5em;
}

.steps{
    width: 100%;
    background: var(--color-1);
    display: flex;
    flex-wrap: wrap;
    border-radius: 25px;
    margin: 30px auto;
}

.steps > div{
  width: 33.33%;
}

.steps h3{
    color: var(--color-3) !important;
    padding: 20px;
    text-decoration: underline;
}

.steps ul{
    border-radius: 25px;
    padding: 0px;
    margin: 10px;
}

.steps ul li a{
    border-radius: 20%;
    margin: 10px;
}

.internet{
    background: #0bb6ff;
    color: #000;
    padding: 10px;
    font-family: 'Poppins';
}

.html{
    background: #E34C26;
    color: #000;
    padding: 10px;
    font-family: 'Poppins';
}

.html i{
    color: #fff;
}

.css{
    background: #264de4;
    color: #fff;
    padding: 10px;
    font-family: 'Poppins';
}

.css i{
    color: #fff;
}

.sass{
    background: #fff;
    color: #000;
    padding: 10px;
    font-family: 'Poppins';
}

.sass i{
    color: #cd6799;
}

.bootstrap{
    background: #602C50;
    color: #fff;
    padding: 10px;
    font-family: 'Poppins';
}

.bootstrap i{
    color: #fff;
}

.git{
    background: #fff;
    padding: 10px;
    font-family: 'Poppins'
}

.git i{
    color: #F1502F;
}

.javascript{
    background: #F0DB4F;
    color: #323330;
    padding: 10px;
    font-family: 'Poppins';
}

.javascript i{
    color: #323330;
}

.jquery{
    background: #0868AC;
    color: #fff;
    padding: 10px;
    font-family: 'Poppins';
}

.jquery i{
    color: #fff;
}

.react{
    background: #61DBFB;
    color: #000;
    padding: 10px;
    font-family: 'Poppins';
}

.react i{
    color: #000;
}

.angular{
    background: #a6120d;
    color: #fff;
    padding: 10px;
    font-family: 'Poppins';
}

.angular i{
    color: #fff;
}

.vue{
    background: #41B883;
    color: #000;
    padding: 10px;
    font-family: 'Poppins';
}

.vue i{
    color: #000;
}

.php{
    background: #B0B3D6;
    color: #000;
    padding: 10px;
    font-family: 'Poppins';
}

.php i{
    color: #000;
}

.mysql{
    background: #165CAA;
    color: #fff;
    padding: 10px;
    font-family: 'Poppins';
}

.mysql i{
    color: #fff;
}

.nodejs{
    background: #68A063;
    color: #303030;
    padding: 10px;
    font-family: 'Poppins';
}

.nodejs i{
    color: #303030;
}

.express{
    background: #303030;
    color: #68A063;
    padding: 10px;
    font-family: 'Poppins';
}

.express i{
    color: #fff;
}

.mongodb{
    background: #4DB33D;
    color: #C1BEBC;
    padding: 10px;
    font-family: 'Poppins';
}

.mongodb i{
    color: #000;
}

.docker{
    background: #0DB7ED;
    color: #C1BEBC;
    padding: 10px;
    font-family: 'Poppins';
}

.docker i{
    color: #000;
}

.deno{
    background: #07091c;
    color: #fff;
    padding: 10px;
    font-family: 'Poppins';
}

.deno i{
    color: #fff;
}

.python{
    background: #FFE873;
    color: #000;
    padding: 10px;
    font-family: 'Poppins';
}

.python i{
    color: #000;
}

.numpy{
    background: #4DABCF;
    color: #000;
    padding: 10px;
    font-family: 'Poppins';

}

.numpy i{
    color: #000;
}

.pandas{
    background: #130654;
    color: #000;
    padding: 10px;
    font-family: 'Poppins';
}

.pandas i{
    color: #fff;
}

.r{
    background: #165CAA;
    color: #fff;
    padding: 10px;
    font-family: 'Poppins';
}

.r i{
    color: #fff;
}

.django{
    background: #092e20;
    color: #fff;
    padding: 10px;
    font-family: 'Poppins';
}

.django i{
    color: #fff;
}

.java{
    background: #f89820;
    color: #000;
    padding: 10px;
    font-family: 'Poppins';
}

.java i{
    color: #000;
}

.cpp{
    background: #283593;
    color: #fff;
    padding: 10px;
    font-family: 'Poppins';
}

.cpp i{
    color: #fff;
}

.bash{
    background: #07091c;
    color: #fff;
    padding: 10px;
    font-family: 'Poppins';
}

.bash i{
    color: #fff;
}

.c{
    background: #283593;
    color: #fff;
    padding: 10px;
    font-family: 'Poppins';
}

.c i{
    color: #fff;
}

.cs{
    background: #283593;
    color: #fff;
    padding: 10px;
    font-family: 'Poppins';
}

.cs i{
    color: #fff;
}

.tag{
  background: var(--color-3);
  color: #000;
}
