@import url('https://fonts.googleapis.com/css2?family=Aleo:wght@300&display=swap');

*{
  font-family: 'Aleo', serif;
}

body{
    box-sizing: border-box;
    user-select: none;
}

.contenedor{
    background: #fff;
    color: #000;
    border-radius: 25px;
    width: 400px;
    padding: 10px;
    margin: auto;
}

#set{
    display: block ;
    position: relative;
    margin: auto;
}

#largo{
   display: inline-block;
   position: relative ;
   margin: 4%; 
   margin-bottom: 2%;
   color:#000; 
   font-size: 18px;
   text-indent: 40px;
   font-weight: bolder;
}

#ver{
    color: #753a88;
    position: absolute;
    font-size: 1.5em;
    top: 14px;
    left: 320px;
    cursor: pointer;
    transition: .2s;
}

input[id='password']{
    border: none; 
    width:80%;
    outline: none;
    padding: 10px;
    border-bottom: 5px solid #753a88;
    display: block; 
    position: relative;
    font-size: 30px;
    text-align: center;
    top: 20px;
    margin: 20px auto ;
    user-select: auto;
    font-family: 'Slabo 27px', serif;
    transition-duration: 600ms;
}

#validar0, #validar1, #validar2, #validar3, #validar4{
   display: block;
   position: relative;
   margin: 4%;
   font-size: 18px;
   width: 92%;
   text-align: justify;
   color: rgb(255, 255, 255);
}

input:hover{
    border-bottom: 5px solid #cc2b5e;
}
  
.s{
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.app__background{
  background: #cc2b5e;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #753a88, #cc2b5e);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #753a88, #cc2b5e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  padding: 50px; 
  
}

.app_container{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

h1{
    color: #2a9d8f;
    font-size: 2em;
}

.contenido__proyecto{
    padding: 20px;
}

footer{
    padding: 20px !important;
}