 ul li{
     list-style-type: none;
 }
 
 p{
     margin: 20px !important;
     padding: 0 !important;
     text-align: left !important;
 }
  
  .accordeon {
    margin: 2rem;
  }
  
  .accordeon_item {
    background: #fff;
    color: #000;
    border-radius: 5px;
    margin-bottom: 0.5rem;
  }
  
  .active > .accordeon_title {
    border-radius: 5px 5px 0 0;
  }
  .active > .accordeon_title:after {
    transform: rotate(180deg);
    transition: all ease 0.2s;
  }
  
  .accordeon_title {
    position: relative;
    cursor: pointer;
    padding: 0.8rem;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    background: #1d3557;
    border-radius: 5px;
  }
  .accordeon_title:after {
    position: absolute;
    top: 17px;
    right: 10px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 5px 0 5px;
    border-color: white transparent transparent transparent;
    content: "";
    transition: all ease 0.2s;
  }
  
  .accordeon_content {
    padding: 0.8rem;
    box-shadow: inset 0 -3px #5F9CCA;
    border-radius: 5px;
  }

  footer{
      padding: 20px;
      
  }

  footer p{
    text-align: center !important;
  }
