body{
    transition: .5s;
    background: #F0DB4F;
}

.articles{
    width: 60%;
    height: 500px;
    overflow-y: scroll;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    box-shadow: var(--box-shadow);
}

section{
    padding: 20px;
    background: rgb(255, 255, 255);
}

section h1{
    margin: 20px;
    border-width: 5px;
    text-align: center;
    font-size: 2em;
}

section h2{
    margin: 20px 0px;
}

section h3{
    margin: 20px 0px;
}

section h4{
    margin: 20px 0px;
}


section p{
    text-align: justify;
    line-height: 30px;
    display: block;
    margin: 10px 0px;
}

section img{
    margin: 20px 0px;
    width: 100%;
}

section ul{
    margin: 20px;
}

section ul li{
    margin: 10px;
}

section ol{
    margin: 20px;
}

section ol li{
    margin: 10px;
}

#course__sidebar{
    background: var(--color-2);
    width: 300px;
    padding: 10px;
    position: fixed;
    top: 0;
    height: 785px;
    overflow-y: scroll;
    overflow-x: hidden;
    z-index: 1;
    font-family: 'Poppins', sans-serif;
    transition: .3s;
    transform: translate(-300px);
    box-shadow: var(--box-shadow);

}

#course__sidebar a{
    padding: 10px;
    display: block;
    transition: .3s;
    color: #fff;
    text-shadow: var(--text-shadow);
}

#course__sidebar a:hover{
    background: var(--color-1);
    color: #fff;
    border-left: 10px solid var(--color-3);
}

#course__sidebar h3{
    color: var(--color-3);
}

.closebtn {
    position: absolute;
    top: -3px;
    right: 0px;
    font-size: 1.5em;
    padding: 10px;
    cursor: pointer;
    transition: .3s;
    color: #fff;
    z-index: 1;
}

.closebtn:hover{
    transform: scale(1.1) rotate(-90deg);
}

.botones{
    position: absolute;
    right: 10px;
}

.botones > div{
    width: 5px;
    height: 5px;
    border-radius: 100px;
    margin: 10px 0px;
}

.botones > div:hover{
    transform: scale(1.1);
}

.dark{
    background: var(--color-1);
}

.openbtn{
    transition: .3s;
    padding: 10px;
    background: var(--color-2);
    color: #fff;
    border-radius: 25px;
    cursor: pointer; 
    z-index: 1;
    margin: 20px;
    display: inline-block;
}  

.openbtn:hover{
    transform: scale(1.3);
}

.gobackbtn{
    transition: .3s;
    padding: 10px;
    background: var(--color-5);
    color: #fff;
    border-radius: 10%;
    cursor: pointer; 
    z-index: 1;
}

.gobackbtn:hover{
    transform: rotate(130deg);
}

.darkSide{
    transition: .3s;
    padding: 10px;
    background: var(--color-1);
    color: #fff;
    border-radius: 10%;
    cursor: pointer; 
    z-index: 1;
}

.darkSide:hover{
    transform: rotate(130deg);
}

.darkSide.dark{
    background: #F0DB4F;
}


.nota{
    background: #ffffcc;
    padding: 20px;
    margin: 20px 0px;
}

.codigo{
    color: crimson;
    background: #f1f1f1;
}

.resultado{
    background: #fffeff;
    padding: 20px;
    margin: 20px 0px;
    border: 3px dashed var(--color-principal);
}

.resultado h1{
    text-align: left;
    font-size: 1em;
    margin: 0;
    color: #000;
}

.resultado p{
    font-size: 1em;
}

.precaucion{
    background: #ffdddd;
    padding: 20px;
    margin: 20px 0px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin: 20px 0px;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

/*  --------------- acordeón ---------------  */
#myInput{
    margin: 10px 0px;
    padding: 10px;
}
/*  --------------- acordeón ---------------  */

/*  --------------- acordeón ---------------  */

.accordion {
    background-color: var(--color-2);
    color: #fff;
    cursor: pointer;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    transition: 0.4s;
    padding: 10px;
    font-size: 1.3em;
    font-weight: bold;
}

.active, .accordion:hover {
    background-color: var(--color-1);
}

.accordion:after {
    content: '\002B';
    color: #fff;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2212";
}

.panel {
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

/*  --------------- acordeón ---------------  */

/*  --------------- search box ---------------  */

.search-container{
    display: flex;
    margin: 10px 0px;
}

input[type=text] {
    border: none;
    padding: 10px;
    width: 100%;
}

.search-container button {
    padding: 10px;
    background: #ddd;
    border: none;
    cursor: pointer;
}


/*  --------------- search box ---------------  */


/*  --------------- mobile ---------------  */


@media only screen and (max-width: 768px){

    #myBtn{
        display: none !important;
    }

    section{
        padding: 20px;
        border-width: 5px;
        background: rgb(255, 255, 255);
        box-shadow: var(--sombra-de-caja);
    }

    .articles{
        width: 90%;
        
    }

}

/*  --------------- mobile ---------------  */