@import url('https://fonts.googleapis.com/css?family=Righteous');

.titulo{
    font-family: Righteous, sans-serif;
    font-size: 3rem;
    z-index: 1;
    text-align: center;
}

.container {
    z-index: 5;
    padding: 5px;
}

.empty {
    display: inline-block;
    background: white;
    height: 160px;
    width: 160px;
}

.fill {
    background-color: #16a085;
    background-image: url('https://source.unsplash.com/random/150x150');
    /* background-image: url('deck.png'); */
    position: relative;
    height: 150px;
    width: 150px;
    top: 5px;
    left: 5px;
    cursor: pointer;
}
/* Javascript Triggered Classes*/
.hold {
    border: 4px solid black;
}

.hovered {
    background: rgb(88, 88, 88);
}

.invisible {
    display: none;
}

.s{
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.app__background{
    font-size: 1.3em;
    font-family: 'Fraunces', serif;
    background: #3f51b1;
    padding: 50px; 
}

.app_container{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

body{
    background: var(--color-principal) !important;
    color: #fff;
}

header a{
    color: #fff;
}

header i{
    color: #fff;
}

h1{
    font-size: 2em;
    color: #fff !important;
}

p{
    color: #fff !important
}

.contenido__proyecto{
    padding: 50px;
}

footer{
    padding: 20px !important;
}

section p{
    line-height: 25px;
}
