.videos{
  padding: 20px;
  overflow-y: scroll;
  height: 81.5vh;
}

.videos h1{
  margin: 10px;
  color: var(--color-3)
}

.videos p{
  margin: 10px;
  color: #fff;
}

.videos hr{
  margin: 20px 10px;
  border: 1px solid var(--color-3);
}


.video-container{
  display: flex;
  flex-wrap: wrap;
}

.card-video{
  background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
  margin: 10px;
  padding: 20px;
  border-radius: 25px;
  transition: .3s;
}

.card-video:hover{
  background-image: linear-gradient(to right, #00f2fe 0%, #4facfe 100%);
}

.card-video h3{
  color: #fff;
}

.card-video p{
  color: #fff;
}

footer{
  background: #fff;
  padding: 10px;
  position: absolute;
  width: 100%;
  
}

.social-right{
  float: right;
}

.social-right a{
  color: var(--color-1);
  margin: 5px;
}

@media only screen and (max-width: 768px){
  header{
      justify-content: center;
      padding: 0px;
  }
  
  ul li a i{
      font-size: 1.4em;
  }

  .videos{
    height: auto;
  }
  
}