.videos h1{
  margin: 20px;
  color: var(--color-3)
}

.videos p{
  margin: 20px;
  color: #fff;
}

.videos hr{
  margin: 20px;
  border: 1px solid var(--color-3);
}

.video-container{
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
}

.card-video{
  background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
  margin: 10px;
  padding: 20px;
  border-radius: 25px;
  transition: .3s;
}

.card-video:hover{
  background-image: linear-gradient(to right, #00f2fe 0%, #4facfe 100%);
}

.card-video h3{
  color: #fff;
}

.card-video p{
  color: #fff;
}

@media only screen and (max-width: 768px){
  
}