header{
  background: var(--color-1);
}

.videos{
  padding: 20px;
  height: 84.1vh;
}

.videos h1{
  margin: 10px;
  color: var(--color-3)
}

.videos p{
  margin: 10px;
  color: #fff;
}

.videos hr{
  margin: 20px 10px;
  border: 1px solid var(--color-3);
}

.back{
  background: var(--color-2);
  padding: 10px;
  border-radius: 100px;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.video-container{
  display: flex;
  flex-wrap: wrap;
}

.card-video{
  background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
  margin: 10px;
  padding: 20px;
  border-radius: 25px;
  transition: .3s;
}

.card-video:hover{
  transform: scale(1.1);
}

.card-video h3{
  color: #fff;
}

.card-video p{
  color: #fff;
}

footer{
  background: var(--color-1);
  padding: 10px;
}

.social-right{
  float: right;
}

.social-right a{
  color: var(--color-3);
  margin: 5px;
}
