.modal-container {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: none;
    justify-content: center;
    align-items: center;
}

.modal {
    width: 600px;
    max-width: 85%;
    background: #EFEEEB;
    padding: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
}

.title{
    color: #202329;
}

p {
    color: #40434A;
}

button {
    cursor: pointer;
    font-size: 1rem;
    color: #202329;
    font-family: 'Playfair Display', serif;
    border: none;
    background: #009A9C;
    color: #EFEEEB;
    padding: 7px 14px;
    border-radius: 25px;
    outline: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}


.toggle-modal {
    display: flex;
}

.s{
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.app__background{
    font-size: 1.3em;
    font-family: 'Fraunces', serif;
    background: #EFEEEB;
    padding: 50px; 
}

.app_container{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

body{
    background: var(--color-principal) !important;
    color: #fff;
    font-family: 'Playfair Display', serif;
}

header a{
    color: #fff;
}

header i{
    color: #fff;
}

h1{
    font-size: 2em;
    color: #fff !important;
}

p{
    color: #fff !important
}

.contenido__proyecto{
    padding: 50px;
}

footer{
    padding: 20px !important;
}

section p{
    line-height: 25px;
}
