/* body {
  
} */

body #keyboard, body kbd {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  box-sizing: border-box;
  border-radius: 4px;
  background: #ccc;
  border: 0.2em solid #888b8d;
  text-align: center;
}

body kbd {
  flex: 1;
}
body .keyboard-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
}
body div#texto {
  font-size: 3em;
  margin-bottom: 4vh;
  text-align: center;
  overflow: auto;
  position: relative;
  padding: 20px;
  max-width: 780px;
  overflow: hidden;
}

body #keyboard {
  width: 56em;
  padding: 0.4em 0.4em 0.8em;
  box-shadow: 0 0.4em 0 #888b8d;
}
body #keyboard kbd {
  height: 3.2em;
  width: 3.2em;
  margin: 0.25em;
  text-align: center;
  color: #fff;
  background-color: #53565a;
  transition: background, position, top, box-shadow 0.1s;
  box-shadow: 0px 2px 0px #888b8d;
}
body #keyboard kbd.long {
  flex-grow: 1;
  flex: 2;
}
body #keyboard kbd.longer {
  flex-grow: 2;
  flex: 3;
}
body #keyboard kbd.spacebar {
  flex-grow: 14;
  flex: 6;
}
body #keyboard .operationKey {
  text-transform: none !important;
}
body #keyboard .pressed {
  background: #ffd100;
  position: relative;
  top: 2px;
  box-shadow: none;
}
body .uppercase kbd {
  text-transform: uppercase;
}

@media (min-width: 768px) {
  body {
    font-size: 10px;
  }
}
@media (min-width: 960px) {
  body {
    font-size: 12px;
  }
}
@media (min-width: 1080px) {
  body {
    font-size: 14px;
  }
}

.s{
    color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.app__background{
  background: #ADA996;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
    padding: 50px; 
}

.app_container{
    /* position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%;
    margin: 0;
    box-sizing: border-box;
    height: 100vh;
    max-height: 100vh;
    overflow: hidden;
}

h1{
    color: #2a9d8f;
    font-size: 2em;
}

.contenido__proyecto{
    padding: 20px;
}

footer{
    padding: 20px !important;
}

section p{
  line-height: 25px;
}